.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  width: 50%;

  .valueButton {
    margin: 20px 0px;
  }

  .selected {
    background-color: blanchedalmond;
  }
}
