<mat-card appearance="outlined" class="card">
  <h3>{{ cardHeader() }}</h3>
  <div class="Card Details">
    <p>
      {{ cardDetails }}
    </p>
  </div>
  <app-input
    id="name"
    name="Name"
    placeholder="Enter Name"
    type="text"
    (enteredValueChange)="handleNameChange($event)"
  />
  <button
    class="valueButton"
    type="button"
    mat-flat-button
    (click)="onClickHandler1()"
  >
    Count: {{ cardButtonValue() }}
  </button>
  <button [class.selected]="selected" type="button" (click)="onClickHandler2()">
    Send Count
  </button>
</mat-card>
