.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightblue;

  .valueButton {
    margin: 8px 0px;
  }

  .selected {
    background-color: blanchedalmond;
  }
}
